*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
header{
    padding: 16px 0;
    background-color: rgb(97, 94, 94);
    font-size: 30px;
    display: flex;
    border-bottom: 16px solid #07641d;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

#cadastrar{
    margin-left: 20px;
    padding: 21px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745; /* Cor verde */
    border: none;
    cursor: pointer;
    padding: 25px;
    text-transform: uppercase;
}


main{
    text-align: center;
    padding: 24px 0;
    
}

#caixa{
    padding: 20px;
    font-size: 20px;
}

ul, li{
    color: white;
    font-size: 36px;
}


body{
    background-color: rgb(10, 10, 10);
}

ul{
    position: absolute;
    left: 1270px;
}

.line-through {
    text-decoration: line-through;
    color: gray; /* Opcional: muda a cor do texto para cinza */
    cursor: pointer;
}